<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Contact', page_path('contact') %></li>
<li><%= link_to 'Blog', page_path('blog') %></li>
<li><%= link_to 'Ruby', page_path('ruby') %></li>
<li><%= link_to 'School', page_path('school') %></li>
<li><%= link_to 'TimeToRead', page_path('timetoread') %></li>


